# Configuración del servidor
HOST=0.0.0.0
PORT=8000

# Modo desarrollo
DEBUG=true

# Rutas
STATIC_DIR=static
DATA_DIR=data
TEMPLATES_DIR=templates

# Capacitor
CAPACITOR_PLATFORM=android
CAPACITOR_APP_ID=com.universidadnacional.mapasedeamazonia
CAPACITOR_APP_NAME=Mapa Sede Amazonia
